{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />


<p class="title">
    Find your flight with
    <br>Asgard company
</p>

<div class="container">
  <div class="row justify-content-between" id="first2">
      <div class="col-4">
        <form method="POST">
                  <label class="form-control-label">Departure Town</label>
                  <select name="departure_city" class="form-control selectpicker" id="select-departure" data-live-search="true">
                  {% for departure_city in departure_citys %}
                    <option value="{{departure_city}}">{{departure_city}}</option>
                    {% endfor %}
                  </select>
        </form>
      </div>
      <div class="col-4">
        <form method="POST">
                  <label class="form-control-label">Arrival Town</label>
                  <select name="arrival_city" class="form-control selectpicker" id="select-Arrival" data-live-search="true">
                  {% for arrival_city in arrival_citys %}
                    <option value="{{arrival_city}}">{{arrival_city}}</option>
                    {% endfor %}
                  </select>
        </form>
      </div>
  </div>
  <div class="row justify-content-between" id="another2">
      <div class="col-4">
            <form method="POST">
                      <label class="form-control-label">Departure Date</label>
                      <input type="datetime-local" name="dateFrom" class="form-control">
            </form>
          </div>
      <div class="col-4">
          <form method="POST">
                    <label class="form-control-label">Arrival Date</label>
                    <input type="datetime-local" name="dateFrom" class="form-control">
          </form>
      </div>
  </div>
</div>

<a class="bn39" href="/"><span class="bn39span">Search</span></a>

{% endblock %}