{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}  <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}" /> {% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />


<p class="title">
    Find your flight with
    <br>Asgard company
</p>

<form method="POST">
    {{ form.csrf_token }}
    <div class="container">
      <div class="row justify-content-between" id="first2">
          <div class="col-4">
                      <label class="form-control-label">{{ form.departure_city.label }}</label>
                        {{ form.departure_city(class="form-control selectpicker") }}
          </div>
          <div class="col-4">
                      <label class="form-control-label">{{ form.arrival_city.label }}</label>
                       {{ form.arrival_city(class="form-control selectpicker") }}
          </div>
      </div>
      <div class="row justify-content-between" id="another2">
          <div class="col-4">
                          <label class="form-control-label">{{ form.date_from.label }}</label>
                           {{ form.date_from(class="form-control") }}
              </div>
          <div class="col-4">
                        <label class="form-control-label">{{ form.date_to.label }}</label>
                         {{ form.date_to(class="form-control") }}
          </div>
      </div>
    </div>

    <button class="bn39" type="submit"><span class="bn39span">Search</span></button>
</form>
{% endblock %}