
body {
    background-image: url("pexels-asad-photo-maldives-3601425.jpg");
    background-color: #1F7685;
    background-size: cover;
    object-fit: cover;
    display: block;
}

.container{
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    padding: 50px;
    justify-content: center;
    margin: 100px;
}

.first2 {
  display: flex;
  justify-content: center;
}

.another2 {
  display: flex;
  justify-content: center;
}

.title{
  margin: auto;
  font-size: 3.5vw;
  font-size-adjust: .5;
  font-family: "Rockwell";
  color: black;
  text-align: center;
  display: block;
  justify-content: center;
  vertical-align: middle
  align-items: center;

}

label {
    color: white;
    font-size: 1.25vw;
    font-size-adjust: .5;
}

button.btn-plane {
    background-color: #f2f2f2;
    border-radius: 100px;
    font-size: 3.75em;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex
}

button.btn-plane:hover {
  background-color: #cccccc;
}

.icon1 {
    
}