
body {
background-image: url("beach.jpg");
background-color: coral;
background-position: center;
}

.container {
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

h1 {
  color: white;
}
label {
    color: white;
}